<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div>
      <% messages.forEach((message,index) => { %>
      <p><%=message.text%></p>
      <a href="/<%=index%>">See message</a>
      <h3><%=message.user%></h3>
      <h5><%=message.added%></h5>

      <%})%>
    </div>
  </body>
</html>
